DATABASE_URL=postgres://joblio:joblio@localhost:5432/joblio

VAPID_PUBLIC_KEY=BBQ1XFNlTatxPDozngqCQwMZZSpZJZ0kvDrxW3r0SC2bze98JJconC0APyA5TUVtCd-q_AC8ToAOtGoChy0gwng
VAPID_PRIVATE_KEY=1x76y0-kMsrAbeeePJQkrnE6I22tt5jz5HYRW0N-lo4
VAPID_SUBJECT=mailto:admin@joblio.app
